<div class="course-card" [ngClass]="cardClasses()" [ngStyle]="cardStyle()">

  <div class="course-title">
    {{index}} {{course.description}}
  </div>
  @if(course.id==1){
    <h3>First image found!</h3>
  }
  @else if(course.iconUrl){
  <img width="300" alt="Angular Logo" [src]="course.iconUrl">
}
@else {
<h3>No image found!</h3>
}

<div class="course-description">
  {{course.longDescription}}
</div>
<ng-container class="course-category">
@switch (course.category) {
@case ('ADVANCED') {
<div class="category">ADVANCED</div>
}
@case ('BEGINNER') {
<div class="category">BEGINNER</div>
}
@case ('INTERMEDIATE') {
<div class="category">INTERMEDIATE</div>
}
@default {
<div class="category">All Level</div>
}
}
</ng-container>
<button (click)="onClickBtn()">View Courses</button>
</div>
