<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>


<div class="courses">
    @for (course of courses | slice:0:3; track course.id; let index = $index;
    let count=$count;let last=$last;let even=$even;let odd =$odd) {
<course-card (courseSelected)="onCourseSelected($event)" [index]="index"
[class.is-first]="$first"
[class.is-last]="last"
[class.is-even]="even"
[class.is-odd]="odd"
[course]="course"/>
    }
    @empty {
        <h4>No data found!</h4>
    }

    <button (click)="getDataFromApi()">Get Data</button>
    <button (click)="postDataToApi()">Post Data</button>
</div>


